<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "#{:debit_account} (max 15 chars)", style: "display: block" %>
    <%= form.text_field :debit_account, :maxlength => 15 %>
  </div>

  <div>
    <%= form.label "#{:credit_account} (max 15 chars)", style: "display: block" %>
    <%= form.text_field :credit_account, :maxlength => 15 %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount, :min => -(2**31), :max => (2**31-1) %>
  </div>

  <div class="button">
    <%= form.submit %>
  </div>
<% end %>
