<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

<div id="transactions">
  <table>
    <tr>
      <th>Credit Account</th>
      <th>Debit Account</th>
      <th>Amount</th>
    </tr>  
      <% @transactions.each do |transaction| %>
        <tr> 
          <th><%= transaction['credit_account'] %></th>
          <th><%= transaction['debit_account'] %></th>
          <th><%= transaction['amount'] %></th>
        </tr>
      <% end %>
  </table>
</div>

<div class="link"><%= link_to "New transaction", new_transaction_path %></div>
<div class="link"><%= link_to "Search balance by credit account", credit_account_search_path %></div>
<div class="link"><%= link_to "Search balance by debit account", debit_account_search_path %></div>