<h1>Search balance by account</h1>

<%= form_with url: account_balance_path, method: :get do |form| %>
  <%= form.label :account, "Account:" %>
  <%= form.text_field :account, :maxlength => 15 %>
  <%= form.submit "Search" %>
<% end %>

<div class="link"><%= link_to "Back to transactions", transactions_path %></div>
